<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwf.app.cwf" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--本地数据访问-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/penguins"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme"
        android:name="lib.MainApplication">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fPVI4Tj6QcHglL0R5RfyFdVo" />
        <meta-data android:name="demo.intent.mode.GlideConfiguration"
            android:value="GlideModule"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--intent-->
        <activity android:name="demo.intent.VolleyDemoList"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.JsonTest"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.NetworkImageTest"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.OkhttpDemo"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.systembartint.SamplesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            >
        </activity>

        <!--systembartint-->
        <activity android:name="demo.systembartint.DefaultActivity"
            android:screenOrientation="portrait"
            android:label="Default example"
            android:theme="@style/FullBleedTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
            </intent-filter>
        </activity>
        <activity android:name="demo.systembartint.ColorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"
            android:label="color example">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
        </intent-filter>
        </activity>
        <activity android:name="demo.systembartint.MatchActionBarActivity"
            android:screenOrientation="portrait"
            android:label="MatchActionBar example"
            android:theme="@style/ActionBarTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
            </intent-filter>
        </activity>

        <!--baidu map-->
        <activity android:name="demo.baidumap.BaseMapActivity"
            android:screenOrientation="portrait"/>

        <!--picture video-->
        <activity android:name="demo.picture.PictureDemoList"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.picture.Photos"
            android:label="图库获取"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.CameraActivity"
            android:label="拍照获取"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.Crop"
            android:label="系统裁剪"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.SelfActivity"
            android:label="自定义相册预览"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.toolbox.GalleryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.picture.toolbox.ImageFileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="demo.picture.toolbox.ShowAlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.picture.VideoRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="视频录制">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.AudioRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="音频录制">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>

        <!--List-->
        <activity android:name="demo.List.RecycleView.RecyclerViewActivity"
            android:screenOrientation="portrait"
            android:label="RecycleView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.RecycleView.RecyclerViewActivity2"
            android:screenOrientation="portrait"
            android:label="RecycleView2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.RecycleView.RecyclerViewActivity3"
            android:screenOrientation="portrait"
            android:label="RecycleView3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.RecycleView.RecyclerViewActivity4"
            android:screenOrientation="portrait"
            android:label="RecycleView4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.PullToRefresh.PullToRefreshListActivity"
            android:screenOrientation="portrait"
            android:label="PullToRefreshList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.RefreshActivity"
            android:screenOrientation="portrait"
            android:label="RefreshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.AutoLoadListActivity"
            android:screenOrientation="portrait"
            android:label="AutoLoadListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.DemoListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.EventBusDemo"
            android:screenOrientation="portrait"/>

        <!--QRCode-->
        <activity android:name="demo.qrcode.QRCodeMain"
            android:screenOrientation="unspecified"
            android:theme="@style/FullBleedTheme"></activity>

        <!--CustomLayoutList-->
        <activity android:name="demo.custom.CustomLayoutList"
            android:screenOrientation="portrait"></activity>

        <!--gestureLock-->
        <activity android:name="demo.custom.GestureLockActivity"
            android:screenOrientation="portrait"
            android:label="手势密码">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

    </application>

</manifest>
