<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwf.app.cwf"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--本地数据访问-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--改变屏幕方向-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
    <!--调节音量-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--调节亮度-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--保持屏幕唤醒-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--监听开机权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/penguins"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme"
        android:name="lib.MainApplication">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fPVI4Tj6QcHglL0R5RfyFdVo" />
        <meta-data android:name="demo.intent.mode.GlideConfiguration"
            android:value="GlideModule"/>
        <!--设计稿的尺寸-->
        <meta-data android:name="design_width" android:value="720">
        </meta-data>
        <meta-data android:name="design_height" android:value="1280">
        </meta-data>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--intent-->
        <activity android:name="demo.intent.VolleyDemoList"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.JsonTest"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.NetworkImageTest"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.OkhttpDemo"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.systembartint.SamplesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            android:label="状态栏变色"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <!--systembartint-->
        <activity android:name="demo.systembartint.DefaultActivity"
            android:screenOrientation="portrait"
            android:label="Default example"
            android:theme="@style/FullBleedTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
            </intent-filter>
        </activity>
        <activity android:name="demo.systembartint.ColorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"
            android:label="color example">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
        </intent-filter>
        </activity>
        <activity android:name="demo.systembartint.MatchActionBarActivity"
            android:screenOrientation="portrait"
            android:label="MatchActionBar example"
            android:theme="@style/ActionBarTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.readystatesoftware.systembartint.SAMPLE1" />
            </intent-filter>
        </activity>

        <!--baidu map-->
        <activity android:name="demo.baidumap.BaseMapActivity"
            android:screenOrientation="portrait"/>

        <!--picture video-->
        <activity android:name="demo.picture.PictureDemoList"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.picture.Photos"
            android:label="图库获取"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.CameraActivity"
            android:label="拍照获取"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.Crop"
            android:label="系统裁剪"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.SelfActivity"
            android:label="自定义相册预览"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.toolbox.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="demo.picture.toolbox.ImageFileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="demo.picture.toolbox.ShowAlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.picture.VideoRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="视频录制">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.AudioRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="音频录制">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.VideoPlayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="VideoPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.VideoPlayActivity2"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="VideoPlayActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.picture.VideoPlayInTextureView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="VideoPlayInTextureView不完全">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.app.cwf.demo.picture"/>
            </intent-filter>
        </activity>


        <!--List-->
        <activity android:name="demo.List.RecycleView.RecyclerViewActivity4"
            android:screenOrientation="portrait"
            android:label="RecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.RecycleView.AutoLoadRecyclerActivity"
            android:screenOrientation="portrait"
            android:label="AutoLoadRecyclerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.PullToRefresh.AutoRefreshListActivity"
            android:screenOrientation="portrait"
            android:label="AutoRefreshListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.PullToRefresh.AutoRefreshGirdViewActivity"
            android:screenOrientation="portrait"
            android:label="AutoRefreshGirdViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.AppListActivity"
            android:screenOrientation="portrait"
            android:label="AppListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cwf.demo_list"/>
            </intent-filter>
        </activity>
        <activity android:name="demo.List.DemoListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="demo.intent.EventBusDemo"
            android:screenOrientation="portrait"/>
        <activity android:name="lib.utils.FileExploreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="demo.custom.FileActivity"
            android:label="文件管理器"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <activity android:name="demo.custom.AutoLayoutDemo"
            android:label="AutoLayoutDemo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <!--QRCode-->
        <activity android:name="demo.qrcode.QRCodeMain"
            android:screenOrientation="unspecified"
            android:theme="@style/FullBleedTheme"></activity>

        <!--CustomLayoutList-->
        <activity android:name="demo.custom.CustomLayoutList"
            android:screenOrientation="portrait"></activity>
        <activity android:name="demo.custom.PickerDemoActivity"
            android:label="多级联动选择器"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <!--gestureLock-->
        <activity android:name="demo.custom.GestureLockActivity"
            android:screenOrientation="portrait"
            android:label="手势密码">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>
        <activity android:name="demo.Html5Activity"
            android:screenOrientation="portrait"
            android:label="Html5Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <activity android:name="demo.custom.tabhost.TabHostActivity"
            android:screenOrientation="portrait"
            android:label="TabHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <activity android:name="demo.custom.ViewpagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarTheme"
            android:label="ViewpagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <activity android:name="demo.custom.AndroidDesignActivity"
            android:screenOrientation="portrait"
            android:label="AndroidDesignActivity"
            android:theme="@style/ToolBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>
        <activity android:name="demo.custom.CoordinatorActivity"
            android:screenOrientation="portrait"
            android:label="CoordinatorActivity"
            android:theme="@style/ToolBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="demo.custom.CustomLayoutList"></category>
            </intent-filter>
        </activity>

        <!--动画-->
        <activity android:name="demo.anim.AnimDemo">

        </activity>

        <!--服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            >
        </service>

        <service android:name="demo.intent.ServiceDemo"
            android:enabled="true"
            android:process=":servicedemo">
            <intent-filter>
                <action android:name="com.cwf.ai.service"/>
            </intent-filter>
        </service>

        <!--监听开机-->
        <receiver android:name="demo.intent.ConnectBroadCastReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
